# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://evzgfloasbpykyrbxuie.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# ===== APP =====
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ===== STRIPE (Sprint 4) =====
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# ===== MERCADO PAGO (Sprint 4) =====
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=

# ===== RESEND (Sprint 4) =====
RESEND_API_KEY=

# ===== FACTURAPI (Sprint 6) =====
FACTURAPI_KEY=